@model FormattedAnime
@{
	ViewData["Title"] = "Index";
}

<div class="center_format">
	@if (Model != null) {
		<div class="main_block">
			<div class="poster_container">
				<img class="poster" alt="" src=@Model.PosterUrl />
			</div>
			<div class="info_container">
				<h2>@Model.CanonicalTitle</h2>
				<h3>@Model.JapaneseTitle</h3>
				@if (!string.IsNullOrEmpty(Model.Rating))
				{
				<p>Rating: @Model.Rating out of 100</p>
				}
				@if (!string.IsNullOrEmpty(Model.StartDate))
				{
					<p>Year: @Model.StartDate</p>
				}
				@if (!string.IsNullOrEmpty(Model.Status))
				{
					<p>Status: @Model.Status</p>
				}
				@if (!string.IsNullOrEmpty(Model.Description))
				{
					<div class="description_block">
						<p>Description: @Model.Description</p>
				</div>
				}
			</div>
		</div>
	}
	<div class="button_block">
		<a asp-controller="Anime" asp-action="Index">
			<input type="button" class="button-30" role="button" value="Generate" />
		</a>
	</div>
</div>

